.formWhite {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: var(--white);
  justify-content: space-evenly;
  align-items: center;
}

.headerFormWhite {
  display: flex;
  align-items: center;
  width: 100%;
  height: 84px;
  color: var(--grey-900);

  h1 {
    font-size: 1.75rem;
  }

  h2 {
    font-size: 1.125rem;
    font-weight: normal;
  }
}

.contentFormWhite {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-evenly;
  height: 500px;

  input {
    width: 360px;
    height: 48px;
    border-radius: 5px;
    border: 1px solid var(--blue);
    outline: none;
    text-indent: 1rem;
  }

  input[type="text"],
  input[type="email"] {
    color: var(--grey-900);
    font-size: 1.125rem;
  }

  :invalid {
    border: 1px solid var(--red);
  }

  ::placeholder {
    color: var(--grey-200);
    font-size: 1.125rem;
  }

  select {
    width: 90px;
    height: 48px;
    border-radius: 5px;
    border-color: var(--grey-200);
    background-color: var(--white);
    font-size: 30px;
    padding: 0px 10px;
    float: left;
  }

  .inputPhone {
    width: 254px;
    margin-left: 16px;
  }

}

.buttonForm {
  button {
    width: 260px;
    height: 44px;
    border-radius: 5px;
    border: 1px solid var(--blue);
    background-color: var(--blue);
    font-size: 1.125rem;
    font-weight: bold;
    color: var(--white);
    margin-bottom: 16px;
  }
}

.formStyled {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: var(--grey-100);
  border: 1px solid var(--blue);
  border-radius: 8px;
  justify-content: space-between;
  align-items: center;
}

.headerFormStyled {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 84px;
  background: var(--blue) no-repeat;
  border-radius: 8px 8px 0 0;
  color: var(--white);

  h1 {
    font-size: 1.75rem;
  }
}

.contentFormStyled {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  height: 500px;

  input {
    width: 360px;
    height: 48px;
    border-radius: 5px;
    border: 1px solid var(--blue);
    outline: none;
    text-indent: 1rem;
  }

  input[type="text"],
  input[type="email"] {
    color: var(--grey-900);
    font-size: 1.125rem;
  }

  :invalid {
    border: 1px solid var(--red);
  }

  ::placeholder {
    color: var(--grey-200);
    font-size: 1.125rem;
  }

  label {
    color: var(--grey-900);
    font-size: 1.125rem;
  }

  select {
    width: 90px;
    height: 48px;
    border-radius: 5px;
    border-color: var(--grey-200);
    background-color: var(--white);
    font-size: 30px;
    padding: 0px 10px;
    float: left;
  }

  .inputPhone {
    width: 254px;
    margin-left: 16px;
  }
}

.errorContainer {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: 0 12px 12px 15px;
  color: var(--red);
  font-size: 1rem;
  text-align: center;

  label {
    padding-left: 10px;
  }
}

.cardSuccess {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  padding: 0 4rem;
  border-radius: 8px;
  background-color: var(--white);
  border-radius: 8px;
  color: var(--grey-900);
  font-size: 1.125rem;

  .title {
    display: flex;
    padding: 2rem 0;
    font-size: 1.75rem;
  }

  .message {
    display: flex;
    padding-bottom: 1.875rem;
  }

  .line {
    display: block;
    background-color: var(--grey-200);
    width: 100%;
    height: 1px;
  }

  .data {
    display: flex;

    .dataFields {
      display: flex;
      flex-direction: column;
      padding: 1rem;

      span {
        display: flex;
        padding: 1.25rem 0;
      }
    }

    .dataValues {
      display: flex;
      flex-direction: column;
      padding: 1rem 0;
      margin-left: 2rem;

      span {
        display: flex;
        padding: 1.25rem 0;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .formWhite {
    display: flex;
    width: 100%;
    height: 539px;
    background-color: var(--white);
    border-radius: 0;
    padding: 0 16px;
  }

  .headerFormWhite {
    justify-content: center;

    h1 {
      font-size: 1.5rem;
    }

    h2 {
      display: none;
    }
  }

  .contentFormWhite {
    width: 100%;

    input {
      width: 100%;
    }

    .fields {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 80px;
    }

    .codeAndPhone {
      display: flex;
    }

    .inputPhone {
      width: 100%;
    }
  }

  .formStyled {
    height: 564px;
  }

  .headerFormStyled {
    h1 {
      font-size: 1.5rem;
    }
  }

  .contentFormStyled {
    width: 100%;
    padding: 0 16px;

    input {
      width: 100%;
    }

    .fields {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 80px;
    }

    .codeAndPhone {
      display: flex;
    }

    .inputPhone {
      width: 100%;
    }
  }
}

@media screen and (min-width: 769px) and (max-width: 1199px) {
  .formWhite {
    height: 481px;
  }

  .headerFormWhite {
    flex-direction: column;
    justify-content: flex-end;
  }

  .contentFormWhite {
    align-items: flex-end;

    label {
      color: var(--grey-900);
      font-size: 1.125rem;
      float: left;
      margin-top: 12px;
      margin-right: 1rem;
    }
  }

  .formStyled {
    height: 454px;
  }

  .contentFormStyled {
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: flex-end;
    justify-content: space-evenly;
    height: 240px;

    label {
      color: var(--grey-900);
      font-size: 1.125rem;
      float: left;
      margin-top: 12px;
      margin-right: 1rem;
    }
  }
}

@media screen and (min-width: 1200px) {
  .formWhite {
    width: 614px;
    height: 461px;
    border-radius: 8px;
  }

  .headerFormWhite {
    flex-direction: column;
    justify-content: flex-end;
    border-radius: 8px 8px 0 0;
  }

  .contentFormWhite {
    align-items: flex-end;

    label {
      color: var(--grey-900);
      font-size: 1.125rem;
      float: left;
      margin-top: 12px;
      margin-right: 1rem;
    }
  }

  .formStyled {
    width: 420px;
    height: 626px;
  }

  .headerFormStyled {
    width: 420px;
  }

  .contentFormStyled {
    align-items: center;
    justify-content: space-evenly;

    .fields {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 80px;
    }
  }

  .buttonForm {
    button {
      width: 280px;
      height: 48px;
    }
  }

  .cardSuccess {
    border-radius: 8px;
    max-width: 614px;
  }
}